USE [master]
GO
/****** Object:  Database [loginData]    Script Date: 05-04-2023 12:21:14 ******/
CREATE DATABASE [loginData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'loginData', FILENAME = N'C:\Users\107360\loginData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'loginData_log', FILENAME = N'C:\Users\107360\loginData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [loginData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [loginData]
GO
/****** Object:  Table [dbo].[logindetails]    Script Date: 05-04-2023 12:21:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logindetails](
	[Username] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[OTP] [varchar](255) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[logindetails] ([Username], [password], [OTP]) VALUES (N'deepanshukedia4@gmail.com', N'1234', N'9626')
INSERT [dbo].[logindetails] ([Username], [password], [OTP]) VALUES (N'itsmegauravporwal@gmail.com', N'144', N'3135')
GO
USE [master]
GO
