
h1{
    padding: 5px;
    font: 1em sans-serif;
    color: rgb(0, 0, 0);
    text-align:center;
}
/* #main{
    
    background-color: rgb(150, 150, 211);
    border: 3px solid  rgb(36, 63, 114);
} */
#mainn{
    align-self: auto;
    background-color:  rgb(150, 150, 211);
    border: 3px solid  rgb(4, 20, 49);
}
/* #main2{
    margin-left: 25%;
    margin-right: 25%;
} */
/* @-webkit-keyframes {
} */
@-webkit-keyframes extend {
    0% {
        width: 90px;
        height: 90px;
        border-radius: 10px;
        } 10% {
        width: 110px;
        height: 91px;
        background: #fff;
        margin-left: - 5px;
        margin-top: - 5px;
        } 20% {
        width: 100px;
        height: 90px;
        background: #32503a;
        margin-left: 0px;
        margin-top: 0px;
        } 100% {
        width: 100px;
        height: 90px;
        border-radius: 110px;
        margin-left: 119px;
        background: #284d31;
        }
    }
@keyframes extend {
    0% {
        width: 90px;
        height: 90px;
        border-radius: 10px;
        } 10% {
        width: 110px;
        height: 91px;
        background: #fff;
        margin-left: - 5px;
        margin-top: - 5px;
        } 20% {
        width: 100px;
        height: 90px;
        background: #32503a;
        margin-left: 0px;
        margin-top: 0px;
        } 100% {
        width: 100px;
        height: 90px;
        border-radius: 110px;
        margin-left: 119px;
        background: #284d31;
        }
    }
/* @-webkit-keyframes {
} */
@-webkit-keyframes disappear {
    0% {
        opacity: 1;
        } 20% {
        color: #fff;
        } 100% {
        opacity: 0;
        }
    }
@keyframes disappear {
    0% {
        opacity: 1;
        } 20% {
        color: #fff;
        } 100% {
        opacity: 0;
        }
    }
/* @-webkit-keyframes {
} */
@-webkit-keyframes appear {
    0% {
        opacity: 0;
        } 70% {
        opacity: 0;
        } 100% {
        opacity: 1;
        }
    }
@keyframes appear {
    0% {
        opacity: 0;
        } 70% {
        opacity: 0;
        } 100% {
        opacity: 1;
        }
    }
html {
    background: #fff
    }

input, button, submit {
    border: none
    }

.cont {
    float: left;
    /* position: absolute; */
    /* width: 610px;
    height: 10px; */
    left: 50%;
    top: 50%;
    /* margin: -100px 0 0 -300px */
    }
    .cont2 {
        float: right;
        /* position: absolute; */
        /* width: 610px;
        height: 10px; */
        left: 50%;
        top: 50%;
        /* margin: -100px 0 0 -300px */
        }

button {
    border-width: 1px;
    /* width: 600px;
    height: 200px; */
    /*border-radius*/
    border-radius: 100px;
    background: #fff;
    position: absolute;
    border: 5px solid #27412d
    }

button > span {
    font-size: 28px;
    color: #1c3823
    }

#image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0
    }

button:focus {
    /*animation*/
    -webkit-animation: extend 1s ease-in-out;
    -ms-animation: extend 1s ease-in-out;
    animation: extend 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards
    }

button:focus > span {
    /*animation*/
    -webkit-animation: disappear 1s ease-in-out;
    -ms-animation: disappear 1s ease-in-out;
    animation: disappear 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards
    }

button:focus > img {
    /*animation*/
    -webkit-animation: appear 1s ease-in-out;
    -ms-animation: appear 1s ease-in-out;
    animation: appear 1s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: forwards
    }
    * {
        margin: 0;
        padding: 0;
      }
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
      }
      .container1 {
        position: relative;
        /* width: 1160px; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        transform-style: preserve-3d;
        perspective: 500px;
        margin: auto;
      }
      .container1 .box {
        position: relative;
        width: 275px;
        height: 275px;
        background: #000;
        transition: 0.5s;
        transform-style: preserve-3d;
        overflow: hidden;
        margin-right: 15px;
        margin-top: 45px;
      }
      .container1:hover .box {
        transform: rotateY(25deg);
      }
      .container1 .box:hover ~ .box {
        transform: rotateY(-25deg);
      }
      .container1 .box:hover {
        transform: rotateY(0deg) scale(1.25);
        z-index: 1;
        box-shadow: 0 25px 40px rgba(0,0,0,0.5);
      }
      .container1 .box .imgBx {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .container1 .box .imgBx:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg,#f00,#000);
        z-index: 1;
        opacity: 0;
        transition: 0.5s;
        mix-blend-mode: multiply;
      }
      .container1 .box:hover .imgBx:before {
        opacity: 1;
      }
      .container1 .box .imgBx img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .container1 .box .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        padding: 20px;
        align-items: flex-end;
        box-sizing: border-box;
      }
      .container1 .box .content h2 {
        color: #fff;
        transition: 0.5s;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-size: 20px;
        transform: translateY(200px);
        transition-delay: 0.3s;
      }
      .container1 .box:hover .content h2 {
        transform: translateY(0px);
      }
      .container1 .box .content p {
        color: #fff;
        transition: 0.5s;
        font-size: 14px;
        transform: translateY(200px);
        transition-delay: 0.4s;
      }
      .container1 .box:hover .content p {
        transform: translateY(0px);
      }